* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inizio {
    padding-left: 8px;
}

#inizio {padding-bottom: 8px; }

body {
    width: 512px;
}

.soprasotto {
    border: 1px solid
}

.soprasotto {
    margin-top: 16px;
}

.soprasotto {
    padding-bottom: 16px;
}

.soprasotto {
    width: 250px;
}

.soprasotto {
    margin-left: 32px;
}

.soprasotto {
    border: 2px solid
}

.centro {
    margin-top: 16px;
}

.centro {
    padding-bottom: 16px;
}

.centro {
    width: 250px;
}

.centro {
    margin-left: 32px;
}

.centro {
    border: 2px solid
}
#corpo {
    border: 2px solid
}

#corpo {
    border-left: 0px;
}

#corpo {
    border-right: 0px;
}

.soprasotto {
    margin-bottom: 12px;
}

.centro {
    padding-left: 8px;
}

.centro {
    padding-top: 12px;
}

.centro {
    padding-right: 12px;
}

.soprasotto {
    padding-right: 12px;
}

.soprasotto {
    padding-left: 8px;
}

.soprasotto {
    padding-top: 12px;
}

#made {
    padding-left: 16px;
}

#made {
    padding-bottom: 16px;
}

#made {padding-top: 12px;}