* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inizio {
    color: brown;
}

#body {
    width: 512px;
}

.nuovo {
    border: 1px solid
}

.nuovo {
    margin-top: 16px;
}

.nuovo {
    padding-bottom: 16px;
}

.nuovo{
    width: 250px;
}

.nuovo {
    margin-left: 700px;
}

.nuovo {
    border: 1px solid
}

.vecchio {
    margin-top: 16px;
}

.vecchio {
    padding-bottom: 16px;
}

.vecchio{
    width: 250px;
}

.vecchio {
    margin-left: 700px;
}

.vecchio {
    border: 1px solid
}