* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inizio {
    color: brown;
}

#body {
    width: 512px;
}

.soprasotto {
    border: 1px solid
}

.soprasotto {
    margin-top: 16px;
}

.soprasotto {
    padding-bottom: 16px;
}

.soprasotto {
    width: 250px;
}

.soprasotto {
    margin-left: 700px;
}

.soprasotto {
    border: 2px solid
}

.centro {
    margin-top: 16px;
}

.centro {
    padding-bottom: 16px;
}

.centro {
    width: 250px;
}

.centro {
    margin-left: 700px;
}

.centro {
    border: 2px solid
}
#corpo {
    border: 2px solid
}

.soprasotto {
    margin-bottom: 12px;
}